*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    min-height: 100vh;
}

/*                                  Estilo de menú del sitio                              */
.contenedor-menu{
    width: 100%;
    height: 40px;
    display: flex;

}

.menu1{
    flex-grow: 2;
}

nav.barra-menu1{
    background: #6A1C32;
    width: 100%;
    height: 40px;
}

nav ul.izquierdo{
    float: left;
    padding-left: 20px;
}

nav ul.izquierdo li{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    
}

nav ul.izquierdo li a{
    color: white;
    font-size: medium;
    border-radius: 2px;
}

li a.activo, li a:hover{
    background: #4d4d4d;
    transition: .1s;
}

.checkbtn{
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*                           Estilo de hipervinculos de registro e inicio de sesión                         */

div.menu2{
    flex-grow: 1;
    width: 30%;
    height: 40px;
    color: white;
}

nav.barra-menu2{
    background: #6A1C32;
    width: 100%;
    height: 40px;
}

nav ul.derecho{
    float: right;
    margin-right: 20px;
}

nav ul.derecho li{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    
}

nav ul.derecho li a{
    color: white;
    font-size: medium;
    border-radius: 2px;
}

    /*                         Contenedores de cuerpo                          */
.contenedor-cuerpo{
    width: 100%;
    height: 130vh;
}

div.contenido{
    background: #d1d1d1;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 60vh;
    font-size: 20px;
    padding: 20px;
}

.div-formulario{
    width: 80%;
    height: 450px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.div-titulo-d{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.div-titulo{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.div-form-p{
    border: 1px solid #4d4d4d;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    height: 250px;
}


.div-form-d{
    border: 1px solid #4d4d4d;
    margin-left: 40px;
    margin-right: 40px;
    height: 340px;
}

.div-form{
    border: 1px solid #4d4d4d;
    margin-left: 40px;
    margin-right: 40px;
    height: 340px;
}

.form-control{
    width: 100%;
    height: 35px;
    border: 1px solid #4d4d4d;
    background: #d1d1d1;
}

/*    Contenedores de inicio de sesión   */
.div-formulario-i{
    width: 60%;
    height: 450px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.div-form-i{
    border: 1px solid #4d4d4d;
    margin: auto;
    width: 60%;
    height: 340px;
}

.div-form-i .control-form-i{
    width: 80%;
    height: 340px;
    margin: auto;
    margin-top: 15%;
}

.div-titulo-i{
    width: 60%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 0;
}

/*    Componentes de información personal de denuncia ciudadana   */
.control1-p{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    display: flex;
    gap: 20px;
}

.control1-p .div-nombre{
    flex-grow: 5;
}

.control1-p .div-edad{
    flex-grow: 1;
}

.control1-p .div-sexo{
    flex-grow: 1;
}

.control2-p{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    display: flex;
    gap: 20px;
}

.control2-p-hijo{
    flex-grow: 1;
}

.control3-p{
    margin: auto;
    margin-top: 20px;
    width: 90%;
}

/*    Componentes de denuncia anonima   */
.control1{
    margin: auto;
    margin-top: 20px;
    width: 90%;
}

.control2{
    margin: auto;
    margin-top: 20px;
    width: 90%;
}

#form-descripcion{
    height: 30vh;
}

.boton-form{
    text-align: center;
    margin-bottom: 20px;
}

.boton-registrar{
    background: #6A1C32;
    color: white;
    font-size: large;
    width: 300px;
    height: 40px;
    margin-top: 30px;
    border-style: none;
}






    /*                                              Pie                                            */
.pie{
    background: #6A1C32;
    width: 100%;
    height: 90px;
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.pie .correo{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
}

.pie .telefono{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.pie .direccion{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.pie span{
    font-size: small;
    margin: 5px;
}


    /*                             Comportamiento responsivo                            */
@media (max-width: 1050px){

    .boton-registrar{
        width: 95%;
    }

    .div-form-i .control-form-i{
        margin-top: 40px;
    }

    .div-formulario-i{
        width: 80%;
        margin-top: 40px;
    }
}

@media (max-width: 800px){
    .checkbtn{
        display: block;
    }

    nav ul.izquierdo{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d4d;
        top: 40px;
        left: -110%;
        text-align: center;
        transition: all .5s;
        padding-left: 0;
    }

    nav ul.izquierdo li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }


    ul.izquierdo li a:hover, li.activo{
        background: #6A1C32;
    }

    #check:checked ~ ul{
        left: 0;
    }

    div.menu2{
        flex-grow: 1;
        background: green;
        width: 60%;
        height: 40px;
        color: white;
        min-width: 250px;
    }

    /*    Comportamiento responsivo de componentes   */
    .control1{
        margin:auto;
        width: 95%;
    }

    .control2{
        margin:auto;
        width: 95%;
    }
}

