@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.contenido-estatus{
    background: #4d4d4d;
    width: 80%;
    height: 50vh;
    margin: auto;
}

.buscador-estatus{
    color: white;
}

.cabecera-estatus{
    width: 30%;
    height: auto;
    margin-left: 2%;
    margin-top: 10px;
}

.cabecera-estatus .buscador-hijo{
    display: flex;
    flex-direction: row;
}

.cabecera-estatus .buscador-hijo .buscador-hijo-1{
    flex-grow: 1;
    flex-shrink: 5;
}

.cabecera-estatus .buscador-hijo .buscador-hijo-2{
    flex-basis: 20px;
}

.buscador-input-estatus{
    width: 100%;
    height: 30px;
}

.datos-estatus{
    background: grey;
    width: 100%;
    height: calc(100% - 50px);
}
