@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.contenido-estatus{
    background: #6A1C32;
    width: 80%;
    height: 65vh;
    margin: auto;
}

.cabecera-estatus{
    width: auto;
    height: auto;
    margin-left: 2%;
    margin-top: 10px;
}

.buscador-estatus{
    width: 100%;
    color: white;
}

.cabecera-estatus .buscador-hijo{
    display: flex;
    flex-direction: row;
}

.cabecera-estatus .buscador-hijo .buscador-hijo-1{
    flex-grow: 1;
    flex-shrink: 5;
}

.cabecera-estatus .buscador-hijo .buscador-hijo-2{
    flex-basis: 20px;
}

.form-estatus{
    width: 100%;
}

.form-estatus .buscador-hijo{
    display: flex;
    width: 50%;
}

.form-estatus .buscador-hijo .buscador-hijo-1 {
    width: 200px;
}

.form-estatus .buscador-hijo .buscador-hijo-2 button{
    width: 20px;
    height: 20px;
    margin: 3px auto auto 3px;
    border-style: none;
    color: white;
    background: transparent;
    cursor: pointer;
}

.buscador-input-estatus{
    width: 100%;
    height: 30px;
}

.datos-estatus{
    background: #4d4d4d;
    width: 100%;
    height: calc(100% - 50px);
    border: solid 1px white;
    margin-top: 10px;
    color: white;
}

.seccion1{
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.linea1{
    width: 100%;
    height: auto;
    text-align: center;
}

.linea2{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
}

.div-asesor{
    margin-left: 10px;
}

.div-nombre-estatus{
    flex-grow: 1;
    margin-left: 10px;
}

.div-estatus-off{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(228, 178, 178);
}

.div-estatus-on{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(156, 206, 156);
}

.div-estatus-end{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(139, 188, 235);
}

.seccion2{
    background: white;
    height: 73%;
    color: #4d4d4d;
    border: solid 1px #4d4d4d;
}

.linea3,
.linea4{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.linea3{
    display: flex;
}

.linea3 p{
    margin-left: 10px;
}

.evidencia{
    outline: none;
    text-decoration: none;
}

.evidencia:link {
    color: white;
}
  
.evidencia:visited {
    color: white;
}

@media (max-width: 860px){

    .contenido-estatus{
        margin: 50px auto 50px auto;
    } 

    .form-estatus .buscador-hijo{
        width: 100%;
    }

    .form-estatus .buscador-hijo .buscador-hijo-1{
        width: 100%;
    }

    .contenido-estatus{
        min-height: 80vh;
    }

    .cabecera-estatus .buscador-hijo .buscador-hijo-2{
        margin-right: 15px;
    }
}