@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.contenido-estatus{
    background: #6A1C32;
    width: 80%;
    height: 65vh;
    margin: auto;
}

.buscador-estatus{
    color: white;
}

.cabecera-estatus{
    width: 30%;
    height: auto;
    margin-left: 2%;
    margin-top: 10px;
}

.cabecera-estatus .buscador-hijo{
    display: flex;
    flex-direction: row;
}

.cabecera-estatus .buscador-hijo .buscador-hijo-1{
    flex-grow: 1;
    flex-shrink: 5;
}

.cabecera-estatus .buscador-hijo .buscador-hijo-2{
    flex-basis: 20px;
}

.buscador-input-estatus{
    width: 100%;
    height: 30px;
}

.datos-estatus{
    background: #4d4d4d;
    width: 100%;
    height: calc(100% - 50px);
    border: solid 1px white;
    margin-top: 10px;
    color: white;
}

.seccion1{
    width: auto;
    height: auto;
    border: solid 1px white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.linea1{
    width: 100%;
    height: auto;
    text-align: center;
}

.linea2{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
}

.div-asesor{
    margin-left: 10px;
}

.div-nombre-estatus{
    flex-grow: 1;
    margin-left: 10px;
}

.div-estatus-off{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(228, 178, 178);
}

.div-estatus-on{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(156, 206, 156);
}

.seccion2{
    background: white;
    height: 80%;
    color: #4d4d4d;
    border: solid 1px #4d4d4d;
}

.linea3,
.linea4{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.linea3{
    display: flex;
}

.linea3 p{
    margin-left: 10px;
}

